:root {
    --accent2-color: #cfdcda;
    --heading-font: "Playfair Display", serif;
    --body-font: "Roboto", sans-serif;
    --light-color: #ffe57e;
    --primary-color: #2d2d2d;
    --secondary-color: #000;
    --main-content-color: #b3b3b3;
    --accent1-color: #fff;
}

header span{
    background-color: var(--accent2-color);
    display: block;
    height: 5rem;
    align-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 7rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 45rem;
    margin-left: 5rem;
    margin-right: 5rem;
    /*horizontal and center*/
}

main h1{
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card img {
    justify-content: right;
    align-items: right;
    text-align: right;
}
footer {
    display: grid;
    height: 10rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    justify-content: center;
    text-align: center;
}