:root {
    --accent2-color: #cfdcda;
    --heading-font: "Playfair Display", serif;
    --body-font: "Roboto", sans-serif;
    --light-color: #ffe57e;
    --primary-color: #2d2d2d;
    --secondary-color: #000;
    --main-content-color: #b3b3b3;
    --accent1-color: #fff;
}

header{
    font-size: 2rem;
}

header span{
    background-color: var(--accent2-color);
    display: block;
    height: 5rem;
    align-content: center;
    text-align: center;
}

nav {
    display: flex;
    margin: 0 auto; /*automatically it calculates the left and right margins to separate equitably, settings its top and bottom to 0 */
    height: 5rem;
    font-size: 2rem;
    justify-content: space-around; /*give space around the options*/
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    text-decoration: overline;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto; /*automatically it calculates the left and right margins to separate equitably, settings its top and bottom to 0 */
    max-width: 800px;
    /*horizontal and center*/
}

main h1{
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    grid-column-start: 1;
    grid-column-end: 3;
}


footer {
    display: grid;
    height: 10rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    justify-content: center;
    text-align: center;
}