:root {
    --accent2-color: #cfdcda;
    --heading-font: "Playfair Display", serif;
    --body-font: "Roboto", sans-serif;
    --light-color: #ffe57e;
    --primary-color: #2d2d2d;
    --secondary-color: #000;
    --main-content-color: #b3b3b3;
    --accent1-color: #fff;
}

header{
    font-size: 1.5rem;
}

header span{
    background-color: var(--accent2-color);
    display: block;
    height: 5rem;
    align-content: center;
    text-align: center;
    font-family: var(--body-font);
}

nav {
    display: flex;
    margin: 0 auto; /*automatically it calculates the left and right margins to separate equitably, settings its top and bottom to 0 */
    height: 5rem;
    font-size: 1.5rem;
    justify-content: space-around; /*give space around the options*/
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    text-decoration: overline;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto; /*automatically it calculates the left and right margins to separate equitably, settings its top and bottom to 0 */
    max-width: 800px;
    /*horizontal and center*/
}

main h1{
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: space-around;  /*give space around the options*/
    text-align: center;
    font-family: var(--heading-font);
}

main h2 {
    margin: 0;
    justify-content: space-around;
    text-align: center;
    background-color: var(--accent2-color);
}

.card {
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: .5rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card h3{
    margin: 0;
    justify-content: space-around;
    text-align: center;
}
.card p{
    grid-column-start: 1;
    grid-column-end: 3;
}

.card img {
    grid-column-start: 3;
    grid-column-end: 4;
}
footer {
    display: grid;
    height: 8rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    justify-content: center;
    text-align: center;
}