*{
    box-sizing: border-box;
}

:root {
    --heading-font: "Playfair Display", serif;
    --body-font: "Roboto", sans-serif;
}

main{
    margin: 2rem auto;
    max-width: 600px;
    width: 90%;
}

h1{
    color: #fff;
    background-color: #ae00c5;

    text-align: center;
}

.wf1{
    background-color: rgb(228, 214, 241);
    padding: 1rem;
}

.wf1 fieldset{
    margin: 2rem 0;
    border: 1px solid #ddd;
    border: none;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend{
    color: #000;
    padding: 0 .5rem;
    font-weight: bold;
}

.wf1 input, select, textarea{
    margin-left: .5rem;
}


.wf1 label{
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}


.wf1 p{
    margin: 1rem;
    color: blue;
}

.wf1 input[type="date"],
#product,
.wf1 input[type="text"],
.wf1 textarea{
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
}

.wf1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    height: 2.5rem;
    border-radius: 6px;
    width: 100%;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

footer {
    display: grid;
    height: 8rem;
    background-color: #000;
    color: #fff;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    font-family: var(--heading-font);
}

@media screen and (min-width: 500px) {
    h1 {
        background-color: #2134ff;
        color: #fff;
    }

    .wf1 input[type="submit"] {
        border: none;
        background-image: linear-gradient(#14107b, #3430b6);
        color: #fff;
        height: 2.5rem;
        border-radius: 6px;
        width: 100%;
        margin: -1rem 2% 2rem 2%;
        box-shadow: 1px 1px 4px #999;
    }
}