* {
    line-height: 2;
}
:root {
    --accent2-color: #cfdcda;
    --heading-font: "Playfair Display", serif;
    --body-font: "Roboto", sans-serif;
    --light-color: #ffe57e;
    --primary-color: #2d2d2d;
    --secondary-color: #000;
    --main-content-color: #b3b3b3;
    --accent1-color: #fff;
}

header{
    background-color: var(--accent2-color);
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    padding: 1rem;
}

h2{
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subt{
    font-family: var(--body-font);
    font-weight: bold;
    text-align: right; 
    padding-right: 1rem;
}

img{
    display: flex;
    align-items: center;
    justify-self: center;
}

footer {
    display: grid;
    height: 8rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}