body{
    font-family: "Roboto", sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;  /*are centered on the page using this code*/
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(86, 97, 255);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}


section{
    padding: 1rem;
    background-color: #fff;
}